In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import h5py

In [2]:
mtg_rna = h5py.File('../AD_data/SEA_AD/MTG/RNAseq/SEAAD_MTG_RNAseq_final-nuclei.2023-05-05.h5ad')
gene_id = mtg_rna.get('var').get('gene_ids')
gene_id = pd.DataFrame(data=gene_id,columns=['gids'])
gene_id=gene_id.iloc[:,0].apply(lambda s: s.decode('utf-8'))
gene_id = dict(zip(gene_id.index,gene_id.iloc[:]))

In [3]:
de_alcohol = pd.read_csv('../results/human_alcohol_brenner_et_al/de_gene.tsv',sep='\t')
de_alcohol = de_alcohol[de_alcohol['p_val_adj']<=0.05]
de_X_seaad_seurat = pd.read_csv('../results/SEA_AD/X_de_genes_seurat.tsv',sep='\t')
de_X_seaad_seurat = de_X_seaad_seurat.rename(index=gene_id)

In [4]:
de_X_seaad_seurat

                    p_val  avg_log2FC  pct.1  pct.2      p_val_adj
ISG15        0.000000e+00   -0.690570  0.064  0.488   0.000000e+00
AL645608.5   0.000000e+00   -0.298703  0.121  0.338   0.000000e+00
CCNL2        0.000000e+00   -0.280133  0.098  0.305   0.000000e+00
SSU72        0.000000e+00   -0.307435  0.199  0.435   0.000000e+00
AL391845.1   0.000000e+00   -0.281991  0.245  0.434   0.000000e+00
...                   ...         ...    ...    ...            ...
ZIC5        5.133842e-260    0.327186  0.104  0.072  1.879038e-255
AC098679.5  4.824967e-242    0.263220  0.250  0.207  1.765986e-237
AL137071.1  5.131745e-157    0.311215  0.358  0.336  1.878270e-152
CCL26       1.964698e-152    0.274890  0.343  0.325  7.190991e-148
AP003117.2   4.976548e-24    0.250025  0.393  0.421   1.821466e-19

[1495 rows x 5 columns]

In [5]:
de_alcohol

                p_val  avg_log2FC  pct.1  pct.2  p_val_adj
BCYRN1   0.000000e+00    1.372427  0.406  0.198   0.000000
KCNIP4   0.000000e+00    0.810414  0.611  0.392   0.000000
CSMD1    0.000000e+00    0.656643  0.518  0.348   0.000000
MALAT1   0.000000e+00    0.628079  0.963  0.910   0.000000
CALM1    0.000000e+00   -0.797154  0.424  0.566   0.000000
...               ...         ...    ...    ...        ...
RUNDC3A  2.084896e-07   -0.403184  0.096  0.108   0.006813
MGST3    4.000097e-07   -0.597938  0.135  0.145   0.013071
STMN3    5.947212e-07   -0.439224  0.119  0.130   0.019434
RPL11    1.259287e-06   -0.277823  0.098  0.110   0.041150
SCG3     1.406459e-06   -0.457485  0.138  0.149   0.045959

[802 rows x 5 columns]

In [6]:
set(de_X_seaad_seurat.index).intersection(de_alcohol.index)

{'ADGRB3',
 'CCDC88A',
 'CELF2',
 'CENPC',
 'DGKB',
 'DSE',
 'FOCAD',
 'FTX',
 'GOLGA8B',
 'GRM5',
 'JAKMIP2',
 'KLHL32',
 'LINC00882',
 'MAPK10',
 'MCTP1',
 'MT-CO1',
 'MT-CO2',
 'MT-ND2',
 'MT-ND4',
 'MT-ND4L',
 'MT-ND5',
 'NAT8L',
 'NEGR1',
 'NMD3',
 'PKD2',
 'PREPL',
 'PTPN13',
 'RTN4',
 'TENM3',
 'TMEM59L',
 'TSPYL1',
 'UTY',
 'WDPCP',
 'YWHAG'}

In [7]:
len(set(de_X_seaad_seurat.index).intersection(de_alcohol.index))

34